[submodule "vendor/caveman"]
	path = vendor/caveman
	url = https://github.com/JuliusBrussee/caveman
[submodule "vendor/ponytail"]
	path = vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail
[submodule "vendor/motion-graphics"]
	path = vendor/motion-graphics
	url = https://github.com/Barty-Bart/motion-graphics
